{% extends "layout.html" %}
{% block body %}

<div ng-controller="OwnersController" >
  
    <form class=add-entry ng-submit="create()" >
      <dl>
        <dt>Nom d'utilisateur:
        <dd><input type=text size=30 ng-model="name">           
        <dt>Mot de passe:</dt>
        <dd><input type=password size=30 ng-model="password"> 
        <dd><input type=submit value="nouvel utilisateur">
      </dl>
    </form>
  {% raw %}
  <div class="container">
      <ul class=entries>
        <li ng-repeat="owner in owners| orderBy : 'name'">
            <div class="list-cell left">
                <a href="/{{owner.name}}">
                    <h2>{{ owner.name }}</h2>
                </a>
            </div>
        </li>
        <div class="clear"></div>
      </ul>
  </div>
  {% endraw %}
  </div>
{% endblock %}