{% extends "layout.html" %}
{% block sidebar %}
    
<ul>
    <li><a class = "sidebar_option" href="{{url_for('categories.categories', owner=owner)}}">voir les categories</a></li>
    <li><a class = "sidebar_option" href="{{url_for('graphs.graphs', owner=owner)}}">charte des depenses</a></li>
</ul>
{% endblock %}
{% block body %}
<div ng-controller="GraphsController">
    <dt>De:
    <dd><datepicker date-format="y/M/d"><input type=text class="datepicker" size=30 ng-model="from" readonly ngchange="loadData"/></datepicker>
    <dt>A:
    <dd><datepicker date-format="y/M/d"><input type=text class="datepicker" size=30 ng-model="to" readonly ngchange="loadData"/></datepicker>
  
  
  {% raw %}
    <nvd3 options='totalsoptions' data='totals'></nvd3>

  {% endraw %}
  </div>
{% endblock %}